# A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

### H0 : There is no significant difference in the diameter of the cutlet between two units
### Ha : There is significant difference in the diameter of the cutlet between two units

# 1. Importing necessary libraries

In [8]:
import pandas as pd
from scipy import stats

# 2. Load Data

In [11]:
cutlet_data = pd.read_csv(r"D:\Data Science\DS Assignments\Hypothesis Testing\Cutlets.csv")
cutlet_data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

# 3. Conducting 2 Sample T-test for Unit A and Unit B
### It allows one to test the null hypothesis that the means of two groups are equal

* **If p-value > 0.5 -- accept null hypothesis** 
* **If p-value < 0.5 -- reject null hypothesis and consider alternate hypothesis**

In [12]:
stats.ttest_rel(cutlet_data['Unit A'],cutlet_data['Unit B'])

Ttest_relResult(statistic=0.7536787225614314, pvalue=0.4562300768038412)

In [13]:
stats.ttest_ind(cutlet_data['Unit A'],cutlet_data['Unit B'])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

# 4. Analysis and Conclusion

### P-value is > 0.05. Hence, null hypothesis is accepted and alternate hypothesis is rejected.
* We can say that there is similarity between Unit A and Unit B