# Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

### H0: All proportions are equal
### Ha: Not all Proportions are equal

# 1. Importing necassary libraries

In [16]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

# 2. Load Data

In [3]:
buyers_data=pd.read_csv(r"D:\Data Science\DS Assignments\Hypothesis Testing\BuyerRatio.csv")
buyers_data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

# 3. Conducting Chi square test
### The Pearsonâ€™s Chi-Square statistical hypothesis is a test for independence between categorical variables

* **If p-value > 0.5 -- accept null hypothesis** 
* **If p-value < 0.5 -- reject null hypothesis and consider alternate hypothesis**

In [26]:
m_array=np.array(buyers_data.loc[0])
f_array=np.array(buyers_data.loc[1])
m_array,f_array

(array(['Males', 50, 142, 131, 70], dtype=object),
 array(['Females', 435, 1523, 1356, 750], dtype=object))

In [27]:
observed_data = [[ 50, 142, 131, 70],[435, 1523, 1356, 750]]

In [28]:
chi2,p_val,dof,expected = chi2_contingency(observed_data)
#print(chi2)
print('P-value is',p_val)
#print(dof)
#print(expected)

P-value is 0.6603094907091882

# 4. Analysis and Conclusion

## The p-value is greater than 0.05. This implies that all proportions are same and there is no relation between male and female buyers

## Hence, Null hypthesis is accepted and Alternate hypothesis is rejected